
.open-sans-regular {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 160px 25px;
    align-items: center;
}

.btn-nav{
    width: 112 px;
    height: 52px;
    color: white;
    border-radius: 5px;
    border-color: #006A50;
    font-weight: bold;
    color: #006A50;
    padding: 15px 30px;
   
    

}

.banner{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #C6E4D6;
    border-radius: 10px;
    margin: 0px 160px;
    }

.banner-content{
    padding: 10px;

}

.banner-greetings{
    font-size: 18px;
    font: medium;
    color: #898181;
}
.banner-description{
    font-size: 40px;
    line-height: auto;
}
.banner-button{
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    border: none;
    height: 40px;
}
.hero-img{
    max-width: 400px;
    max-height: 320px;
    
}
.about{
    margin: 0px 140px;
    padding: 20px;
    
}
.piller-container{
    display: flex;
    gap: 24px;
}
.piller{
    box-shadow: 0px 6px 50px 0px #cdbabac2;
    width: 220px;
    padding: 10px;
    border-radius: 10px;

}

.vission{
    margin: 0px 160px;
}
.vission-card{
    display: flex;
    gap: 24px;
    margin: 20px 0;
}

.vission-card01{
    background-color: #F1F1F3;
    padding: 20px;
    border-radius: 14px;
}

.vission-card02{
    background-color: #C6E4D6;
    padding: 20px;
    border-radius: 14px;
}

.vission-card03{
    background-color: #F7EBCF;
    padding: 20px;
    border-radius: 14px;
}


.v1-btn{
    background-color: #5490F5;
    height: 32px;
    border-radius: 7px;
    border: none;
}
.v2-btn{
    background-color: #09A15C;
    height: 32px;
    border-radius: 7px;
    border: none;

}
.v3-btn{
    background-color: #FFC239;
    height: 32px;
    border-radius: 7px;
    border: none;

}
.Yunnus-sir{
    margin: 0px 160px;
    background-color: #ffffff;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    box-shadow: 0px 6px 50px 0px #cdbabac2;
    border-radius: 7.5px;
    padding: 10px;
}

.News-topic{
    margin: 0 160px;
}

.news_p1{
    margin: 0 160px;
    display: flex;
    gap: 15px;
    box-shadow: 0px 6px 50px 0px #cdbabac2;
    border-radius: 10px;
    
}
.news_p2{
    margin: 0 160px;
    display: flex;
    gap: 15px;
    box-shadow: 0px 6px 50px 0px #cdbabac2;
    border-radius: 10px;
}
.n2{
    padding: 20px;
}

.satelite-pic{
    padding: 25px;

}

.satelite-pic{
    border-radius: 10px;
}

.Donate{
    margin: 0 160px;
    text-align: center;
}

.inpt{
    text-align: center;
    height: 40px;
    width: 700px;
    border: none;
    box-shadow: 0px 6px 50px 0px #cdbabac2;
}
.btntk{
    background-color: white;
    height: 50px;
    width: 100px;
    border: none;
    box-shadow: 0px 6px 50px 0px #cdbabac2;
    border-radius: 8px;
}

.ext{
    background-color: #5490F5;
}

.btntk2{
    background-color: rgb(15, 64, 199);
    height: 50px;
    width: 100px;
    border: none;
    box-shadow: 0px 6px 50px 0px #cdbabac2;
    border-radius: 8px;


}